<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@latest/dist/markdown-it.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script> 
    <script src="../static/js/highlight.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Dashboard | Chat GPT</title>
  </head>

  <body class="h-screen overflow-hidden">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="container fixed">
      <nav
        class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6"
      >
        <div
          class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
        >
          <button
            class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
            type="button"
            onclick="toggleNavbar('example-collapse-sidebar')"
          >
            <i class="fas fa-bars"></i></button
          >
          <a
            class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
            href="javascript:void(0)"
          >Dashboard
          </a>
          <div
            class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded hidden"
            id="example-collapse-sidebar">
            <div
              class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200"
            >
              <div class="flex flex-wrap">

                <div class="w-6/12 flex justify-end">
                  <button
                    type="button"
                    class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
                    onclick="toggleNavbar('example-collapse-sidebar')"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
            </div>
            <div><a
                  class="btn btn-ghost text-pink-500 hover:text-pink-600 
                  text-xs uppercase py-3 font-bold block"
                  ><i class="fas fa-tv opacity-75 mr-2 text-sm"></i>
                  + new chat</a>
           </div>

           <hr class="my-4 md:min-w-full mt-72" />

            <div class="flex flex-col items-start bottom-0">
              <a class="btn btn-ghost bg-base-100 btn-block text-sm justify-start">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                  <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z" clip-rule="evenodd" />
                </svg>                
                Clear Conversation</a>
              <a class="btn btn-ghost bg-base-100 btn-block justify-start">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                  <path fill-rule="evenodd" d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902.848.137 1.705.248 2.57.331v3.443a.75.75 0 0 0 1.28.53l3.58-3.579a.78.78 0 0 1 .527-.224 41.202 41.202 0 0 0 5.183-.5c1.437-.232 2.43-1.49 2.43-2.903V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0 0 10 2Zm0 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM8 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm5 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
                </svg>                
                Discord</a>
              <a class="btn btn-ghost bg-base-100 btn-block justify-start">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                  <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0ZM8.94 6.94a.75.75 0 1 1-1.061-1.061 3 3 0 1 1 2.871 5.026v.345a.75.75 0 0 1-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 1 0 8.94 6.94ZM10 15a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
                </svg>                
                Updates & FAQ</a>
              <a class="btn btn-ghost bg-base-100 btn-block justify-start">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                  <path d="M7 3.5A1.5 1.5 0 0 1 8.5 2h3.879a1.5 1.5 0 0 1 1.06.44l3.122 3.12A1.5 1.5 0 0 1 17 6.622V12.5a1.5 1.5 0 0 1-1.5 1.5h-1v-3.379a3 3 0 0 0-.879-2.121L10.5 5.379A3 3 0 0 0 8.379 4.5H7v-1Z" />
                  <path d="M4.5 6A1.5 1.5 0 0 0 3 7.5v9A1.5 1.5 0 0 0 4.5 18h7a1.5 1.5 0 0 0 1.5-1.5v-5.879a1.5 1.5 0 0 0-.44-1.06L9.44 6.439A1.5 1.5 0 0 0 8.378 6H4.5Z" />
                </svg>                
                Doc</a>
            </div>
          </div>
        </div>
      </nav>
    </div>

      <div class="relative md:ml-64 bg-blueGray-50">

        
        <!-- navbar top -->
        <div class="navbar bg-base-100 rounded-box">
            <div class="flex-1 px-2 lg:flex-none">
              <a href="/index"  class="text-lg font-bold">Chat-Clone-GPT</a>
            </div>
            <div class="flex flex-1 justify-end px-2">
              
              <label class="swap swap-rotate">
                <!-- this hidden checkbox controls the state -->
                <input type="checkbox" class="theme-controller toggle_theme" value="synthwave" />
              
                <!-- sun icon -->
                <svg
                  class="swap-off h-10 w-10 fill-current"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24">
                  <path
                    d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
                </svg>
              
                <!-- moon icon -->
                <svg
                  class="swap-on h-10 w-10 fill-current"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24">
                  <path
                    d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
                </svg>
              </label>

              <select class="ml-2 select select-bordered w-56 max-w-xs" id="model-select">
                <option value="0">Select a Model</option>
              </select>
              <div class="flex items-stretch ml-2">
                <div class="dropdown dropdown-end avatar">
                  <div tabindex="0" role="button" class="rounded-btn w-8 rounded-full">
                    <img src="../static/img/chatui/gpt.png" />
                  </div>
                  <ul
                    tabindex="0"
                    class="menu dropdown-content bg-base-100 rounded-box z-[1] mt-4 w-52 p-2 shadow">
                    <li><a>Item 1</a></li>
                    <li><a>Item 2</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="relative container mx-auto
          min-h-0 min-w-0
          mr-10 mt-1 mb-1 ml-10 max-h-full max-w-full
          "
          >
            <div id="chat-container" class="chat-message fixed top-20 right-20
            h-4/5 p-10"
             style="
             left: 300px;
             overflow-y: scroll;">
              <div id="example">
                <div class="header text-3xl mb-24 text-center">ChatGPT</div>
                <div class="example flex flex-row text-center">
                  <div class="basis-1/3">
                    <div class="flex flex-col items-center justify-center">
                      <div class="text-center text-xl">Example</div>
                      <div class="w-full flex justify-center">
                        <ul class="menu menu-md bg-base-200 rounded-box w-56">
                          <li class="example-item"><a>Explain quantum computing in simple terms</a></li>
                          <li class="example-item"><a>Got any creative ideas for a 10 year old's birthday?</a></li>
                          <li class="example-item"><a>How do I make an HTTP request in JavaScript?</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="basis-1/3">
                    <div class="flex flex-col items-center justify-center">
                      <div class="text-center text-xl">Capabilities</div>
                      <div class="w-full flex justify-center">
                        <ul class="menu menu-md bg-base-200 rounded-box w-56">
                          <li class="example-item"><a>Remembers what user said earlier in the conversation</a></li>
                          <li class="example-item"><a>Allows user to provide follow-up corrections</a></li>
                          <li class="example-item"><a>Trained to decline inappropriate requests</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="basis-1/3">
                    <div class="flex flex-col items-center justify-center">
                      <div class="text-center text-xl">Limitations</div>
                      <div class="w-full flex justify-center">
                        <ul class="menu menu-md bg-base-200 rounded-box w-56">
                          <li class="example-item"><a>May occasionally generate incorrect information</a></li>
                          <li class="example-item"><a>May occasionally produce harmful instructions or biased content</a></li>
                          <li class="example-item"><a>Limited knowledge of world and events after 2023</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            </div>
            <div  class="relative fixed right-20
            justify-center flex flex-row max-w-5xl mr-20" style="
              position: fixed;
              bottom: 20px;
              left: 200px;
              width: 100%;
            ">
              <input
                  id="message-input"
                  type="text"
                  placeholder="Please enter your message here"
                  class="basis-11/12 mr-2 input input-bordered input-md w-full max-w-3xl
                  fixed right-28 bottom-5
                  " />
                  <button class="btn basis-1/12 fixed right-20 bottom-5" id="send-message-btn">Button</button>
            </div>
          </div>


        </div>
      </div>
    </div>


    <script src="../static/js/chat.js"></script>
  </body>
</html>