<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />

  <link href="../static/css/full.min.css" rel="stylesheet" type="text/css" />
  <link href="../static/css/katex.min.css" rel="stylesheet" type="text/css" />
  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <script src="../static/js/tailwind"></script>
  <script src="../static/js/markdown-it.min.js"></script>
  <script src="../static/js/marked.min.js"></script>
  <script src="../static/js/highlight.min.js"></script>
  <script src="../static/js/katex.min.js"></script>
  <script src="../static/js/auto-render.min.js"></script>
  <script src="../static/js/live2dcubismcore.min.js"></script>
  <script src="../static/js/live2d.min.js"></script>
  <script src="../static/js/pixi.min.js"></script>
  <script src="../static/js/cubism4.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <title>Dashboard | Chat GPT</title>
</head>

<body class="h-screen overflow-hidden">
  <div id="root">
    <div class="container">
      <nav class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 
        md:overflow-y-auto md:flex-row md:flex-nowrap 
        md:overflow-hidden shadow-xl bg-base-300
        flex flex-wrap items-center 
        justify-between relative md:w-64 z-10 py-4 px-6">
        <div
          class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">
          <button
            class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
            type="button" onclick="toggleNavbar('example-collapse-sidebar')">
            <div>asdasd</div>
            <i class="fas fa-bars"></i>
          </button>
          <a class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
            href="javascript:void(0)">Dashboard
          </a>
          <div
            class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded hidden"
            id="example-collapse-sidebar">

            <div class="topbox"><a class="btn btn-ghost text-pink-500 hover:text-pink-600 
                  text-xs uppercase py-3 font-bold block"><i class="fas fa-tv opacity-75 mr-2 text-sm"></i>
                + new chat</a>
            </div>
            <div class="bottombox fixed bottom-5">
              <div class="divider"></div>

              <div class="flex flex-col items-start bottom-0">
                <a class="btn btn-ghost bg-base-300 btn-block text-sm justify-start">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                    <path fill-rule="evenodd"
                      d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z"
                      clip-rule="evenodd" />
                  </svg>
                  Clear Conversation</a>
                <a class="btn btn-ghost bg-base-300 btn-block justify-start">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                    <path fill-rule="evenodd"
                      d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902.848.137 1.705.248 2.57.331v3.443a.75.75 0 0 0 1.28.53l3.58-3.579a.78.78 0 0 1 .527-.224 41.202 41.202 0 0 0 5.183-.5c1.437-.232 2.43-1.49 2.43-2.903V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0 0 10 2Zm0 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM8 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm5 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"
                      clip-rule="evenodd" />
                  </svg>
                  Discord</a>
                <a class="btn btn-ghost bg-base-300 btn-block justify-start">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                    <path fill-rule="evenodd"
                      d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0ZM8.94 6.94a.75.75 0 1 1-1.061-1.061 3 3 0 1 1 2.871 5.026v.345a.75.75 0 0 1-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 1 0 8.94 6.94ZM10 15a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"
                      clip-rule="evenodd" />
                  </svg>
                  Updates & FAQ</a>
                <a class="btn btn-ghost bg-base-300 btn-block justify-start">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                    <path
                      d="M7 3.5A1.5 1.5 0 0 1 8.5 2h3.879a1.5 1.5 0 0 1 1.06.44l3.122 3.12A1.5 1.5 0 0 1 17 6.622V12.5a1.5 1.5 0 0 1-1.5 1.5h-1v-3.379a3 3 0 0 0-.879-2.121L10.5 5.379A3 3 0 0 0 8.379 4.5H7v-1Z" />
                    <path
                      d="M4.5 6A1.5 1.5 0 0 0 3 7.5v9A1.5 1.5 0 0 0 4.5 18h7a1.5 1.5 0 0 0 1.5-1.5v-5.879a1.5 1.5 0 0 0-.44-1.06L9.44 6.439A1.5 1.5 0 0 0 8.378 6H4.5Z" />
                  </svg>
                  Doc</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="relative md:ml-64 bg-blueGray-50">


      <!-- navbar top -->
      <div class="navbar bg-base-100 rounded-box">
        <div class="flex-1 px-2 lg:flex-none">
          <a href="/index" class="text-lg font-bold">Chat-Clone-GPT</a>
        </div>
        <div class="flex flex-1 justify-end px-2">

          <label class="swap swap-rotate">
            <!-- this hidden checkbox controls the state -->
            <input type="checkbox" class="theme-controller toggle_theme" value="synthwave" />

            <!-- sun icon -->
            <svg class="swap-off h-10 w-10 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
            </svg>

            <!-- moon icon -->
            <svg class="swap-on h-10 w-10 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
            </svg>
          </label>
          <label class="swap">
            <!-- this hidden checkbox controls the state -->
            <input type="checkbox" id="toggle-sound" />

            <!-- volume on icon -->
            <svg class="swap-on fill-current" xmlns="http://www.w3.org/2000/svg" width="48" height="48"
              viewBox="0 0 24 24">
              <path
                d="M14,3.23V5.29C16.89,6.15 19,8.83 19,12C19,15.17 16.89,17.84 14,18.7V20.77C18,19.86 21,16.28 21,12C21,7.72 18,4.14 14,3.23M16.5,12C16.5,10.23 15.5,8.71 14,7.97V16C15.5,15.29 16.5,13.76 16.5,12M3,9V15H7L12,20V4L7,9H3Z" />
            </svg>

            <!-- volume off icon -->
            <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="48" height="48"
              viewBox="0 0 24 24">
              <path
                d="M3,9H7L12,4V20L7,15H3V9M16.59,12L14,9.41L15.41,8L18,10.59L20.59,8L22,9.41L19.41,12L22,14.59L20.59,16L18,13.41L15.41,16L14,14.59L16.59,12Z" />
            </svg>
          </label>
          <select class="ml-2 select select-bordered w-56 max-w-xs" id="model-select">
            <option value="0">Select a Model</option>
          </select>
          <div class="flex items-stretch ml-2">
            <div class="dropdown dropdown-end avatar">
              <div tabindex="0" role="button" class="rounded-btn w-8">
                <img src="../static/img/chatui/gpt.png" />
              </div>
              <ul tabindex="0" class="menu dropdown-content bg-base-100 rounded-box z-[1] mt-4 w-52 p-2 shadow">
                <li><a>Item 1</a></li>
                <li><a>Item 2</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="relative container mx-auto
          min-h-0 min-w-0
          mr-10 mt-1 mb-1 ml-10 max-h-full max-w-full
          ">
        <div id="chat-container" class="chat-message fixed top-15 right-20
            h-4/5 p-10" style="
             left: 300px;
             overflow-y: scroll;">
          <div id="example">
            <div class="header text-3xl mb-20 text-center">ChatGPT</div>
            <div class="example flex flex-col text-center">

              <div class="mx-auto text-lg mb-12" id="example_info"></div>
              <div class="prompt">
                <!-- 添加提示信息 -->

                
              </div>
            </div>
          </div>

        </div>
        <!-- <form class="fixed">
          <label for="chat" class="sr-only">Your message</label>
          <div class="flex items-center py-2 px-3 bg-gray-50 rounded-lg dark:bg-gray-700">
              <button type="button" class="inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                  <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd"></path></svg>
              </button>
              <button type="button" class="p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                  <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-.464 5.535a1 1 0 10-1.415-1.414 3 3 0 01-4.242 0 1 1 0 00-1.415 1.414 5 5 0 007.072 0z" clip-rule="evenodd"></path></svg>
              </button>
              <textarea id="chat" rows="1" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message..."></textarea>
                  <button type="submit" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
                  <svg class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path></svg>
              </button>
          </div>
      </form> -->
        <div class="fixed right-20
              justify-center flex flex-row mr-20" style="
              position: fixed;
              bottom: 20px;
              left: 130px;
              width: 100%;
            ">
            <label class="basis-11/12 input input-bordered flex items-center w-full m-0 p-0
                  sm:max-w-xs md:max-w-sm lg:max-w-xl xl:max-w-3xl 2xl:max-w-4xl
                  3xl:max-w-5xl
            ">
              
              <input id="message-input" type="text" placeholder="Please enter your message here" class="input input-md w-full focus: border-none
                  " />  
                  <button class="btn bg-transparent border-0 p-0 m-2 hover:bg-transparent focus:bg-transparent" id="microphone-btn">
                  <svg class="w-6 h-6 fill-[#8e8e8e]" viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg" id="microphone-icon">

                  <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                  <path d="M192 0C139 0 96 43 96 96V256c0 53 43 96 96 96s96-43 96-96V96c0-53-43-96-96-96zM64 216c0-13.3-10.7-24-24-24s-24 10.7-24 24v40c0 89.1 66.2 162.7 152 174.4V464H120c-13.3 0-24 10.7-24 24s10.7 24 24 24h72 72c13.3 0 24-10.7 24-24s-10.7-24-24-24H216V430.4c85.8-11.7 152-85.3 152-174.4V216c0-13.3-10.7-24-24-24s-24 10.7-24 24v40c0 70.7-57.3 128-128 128s-128-57.3-128-128V216z"></path>
                  <!-- disabled <path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L472.1 344.7c15.2-26 23.9-56.3 23.9-88.7V216c0-13.3-10.7-24-24-24s-24 10.7-24 24v40c0 21.2-5.1 41.1-14.2 58.7L416 300.8V96c0-53-43-96-96-96s-96 43-96 96v54.3L38.8 5.1zM344 430.4c20.4-2.8 39.7-9.1 57.3-18.2l-43.1-33.9C346.1 382 333.3 384 320 384c-70.7 0-128-57.3-128-128v-8.7L144.7 210c-.5 1.9-.7 3.9-.7 6v40c0 89.1 66.2 162.7 152 174.4V464H248c-13.3 0-24 10.7-24 24s10.7 24 24 24h72 72c13.3 0 24-10.7 24-24s-10.7-24-24-24H344V430.4z"></path> -->
                </svg></button>
            </label>

          <!-- <input id="message-input" type="text" placeholder="Please enter your message here" class="basis-11/12 mr-2 input input-bordered input-md w-full
                  sm:max-w-xs md:max-w-sm lg:max-w-xl xl:max-w-3xl 2xl:max-w-4xl
                  3xl:max-w-5xl
                  " />   -->
          
          
          <button class="btn basis-1/12
                  px-8 z-30 py-4 bg-rose-400 rounded-md text-white 
                  relative font-semibold 
                  font-sans after:-z-20 
                  after:absolute after:h-1 
                  after:w-1 after:bg-rose-800 after:left-5 
                  overflow-hidden after:bottom-0 after:translate-y-full 
                  after:rounded-md 
                  after:hover:scale-[300] after:hover:transition-all 
                  after:hover:duration-700 after:transition-all 
                  after:duration-700 transition-all duration-700 [text-shadow:3px_5px_2px_#be123c;] hover:[text-shadow:2px_2px_2px_#fda4af]
                  
                  " id="send-message-btn">Button</button>
        </div>
      </div>
      <div id="live2d">
        <canvas id="canvas" class="fixed bottom-0 right-0 w-1/2 h-1/2 -z-10"></canvas>
      </div>

    </div>
  </div>
  </div>
  <dialog id="recording-dialog" class="modal modal-bottom sm:modal-middle">
    <div class="flex flex-row max-auto">
      <div class="modal-box justify-center items-center">
        <div class="flex-1 mb-5">
          <h2 class="text-center">Recording...</h2>
        </div>
        <div class="flex-1">
          <div class="flex flex-row justify-center items-center">
            <span class="loading loading-bars loading-xs"></span>
            <span class="loading loading-bars loading-sm"></span>
            <span class="loading loading-bars loading-md"></span>
            <span class="loading loading-bars loading-lg"></span>
          </div>
        </div>
        <div class="flex-1 modal-action justify-center items-center">
          <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn btn-error text-amber-50" id="stop-recording-btn">Stop</button>
          </form>
        </div>
      </div>
    </div>
  </dialog>

  <script src="../static/js/chat.js"></script>
  <script src="../static/js/auto_audio_live2d.js"></script>
  <!--<script type="text/javascript" src="../static/js/live2d_llm.js"></script>-->
  
</body>

</html>